<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    body{
        background-color:hsl(350,75%,65%);
        color:white;
        font-family:Arial;
    }
    .vid{
        width:100%;
        margin:0 auto;
        loading:lazy;
    }
    .container{
        margin:0 auto;
        padding-inline: 2em;

    }
    .grid{
        display:grid;
        grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));   
        grid-gap: 2em;
       
     }

</style>
</head>
<body>
    <h1>Host Local Videos<h1>    
<div class="container grid">



{% for video in videos %}
<video class="vid" controls>
    <source src="stream-video/{{ video }}" type="video/mp4" title = {{video}} >
    Your browser does not support the video tag.
</video>
{% endfor %}
</div>

</body>
</html>